[submodule "so-commons-library"]
	path = so-commons-library
	url = https://github.com/sisoputnfrba/so-commons-library.git
[submodule "ansisop-parser"]
	path = ansisop-parser
	url = https://github.com/sisoputnfrba/ansisop-parser.git
[submodule "scripts-ansisop"]
	path = scripts-ansisop
	url = https://github.com/sisoputnfrba/scripts-ansisop.git
